@model IEnumerable<weatherApp.Models.WeatherDetail>


@{
    ViewBag.Title = "GetData";


}



@*<div style="display: inline-flex; width: 25rem; position: relative; left: 38%; ">
        <div style=" flex: 1; padding: auto; position: relative;">
            <img style="height: 4rem; position: absolute; top: 1rem;" src="~/Content/Images/cld_icon.png" />

        </div>
        <h2 style="text-align:center;color:white;flex:3">Weather App</h2>
    </div>*@
<div class="d-flex flex-row justify-content-center mt-5">
    <img src="~/Content/Images/cld_icon.png" style="height: 1.5rem;">
    <p class="p-2"><b>Weather App</b></p>
</div>

<!--method returns color of card container according to weather description-->
@functions{
    public string GetColor(string weather)
    {
        string color = "blue"; // Default color (you can set it to any color you prefer)

        if (weather == "overcast clouds")
        {
            color = "orange";
        }
        else if (weather == "broken clouds")
        {
            color = "purple";
        }
        else if (weather == "clear sky")
        {
            color = "green";
        }
        else if (weather == "fog")
        {
            color = "grey";
        }
        else if (weather == "few clouds")
        {
            color = "blue";
        }
        else if (weather == "Light rain")
        {
            color = "yellow";
        }
        else if (weather == "mist")
        {
            color = "red";
        }
        else
        {
            color = "brown";
        }

        return color;
    }
    //method returns imd file path according to weather description

    public string GetIcon(string weather)
    {
        string imgSrc = "few_clouds.png"; // Default image source

        if (weather == "overcast clouds")
        {
            imgSrc = "clear_sky.png"; // Replace with the actual image source for 'orange'
        }
        else if (weather == "broken clouds")
        {
            imgSrc = "broken_cloud.png"; // Replace with the actual image source for 'orange'
        }
        else if (weather == "clear sky")
        {
            imgSrc = "clear_sky.png"; // Replace with the actual image source for 'orange'
        }
        else if (weather == "fog")
        {
            imgSrc = "mist.png"; // Replace with the actual image source for 'orange'
        }
        else if (weather == "few clouds")
        {
            imgSrc = "few_clouds.png"; // Replace with the actual image source for 'orange'
        }
        else if (weather == "Light rain")
        {
            imgSrc = "rain.png"; // Replace with the actual image source for 'orange'
        }
        else if (weather == "mist")
        {
            imgSrc = "mist.png"; // Replace with the actual image source for 'orange'
        }
        else
        {
            imgSrc = "few_clouds.png"; // Replace with the actual image source for 'orange'
        }

        return imgSrc;
    }

}



@*<div class="top-container row">

*@
<div class="container">

    <div class="parent-container row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2  mx-auto ">





        @foreach (var item in Model)
        {

            <div class="col col-md-12 col-lg-6  p-3 ">
                <div class=" card-container @(GetColor(item.Weather[0].Description))    px-0 d-flex flex-md-column flex-sm-column" onclick="window.location.href ='@Url.Action("GetDetail", "Weather", new { code = item.Id })'">
                    <div class="d-flex flex-md-row justify-content-evenly   my-2 mx-3 mt-4  ">
                        <div class=" d-flex flex-column  justify-content-end ">
                            <h2>
                                <b>
                                    @item.Name,@item.Sys.Country
                                </b>
                            </h2>
                            <div class="mx-auto">
                                @item.LastUpdatedTime

                            </div>
                        </div>
                        <div class=" temp-text">
                            
                                @item.Main.Temp°c

                            
                        </div>
                    </div>
                    <div class="d-flex flex-md-row justify-content-evenly   my-2 mx-3 ">
                        <div class="">
                            <div class="d-flex  align-item-center justify-content-center gap-3">
                                <img src="~/Content/Images/@(GetIcon(item.Weather[0].Description))" />
                                <p> <b>  @item.Weather[0].Description </b></p>

                            </div>

                            <!--add the returning img file path to src attribute-->

                        </div>
                        <div class=" ">
                            <div class="d-flex flex-md-row flex-sm-row">
                                <p> <b> Temp Min: </b>  <p>  @item.Main.Temp_min°C</p>
                                </p>

                            </div>
                            <div class="d-flex flex-md-row flex-sm-row">
                                <p> <b> Temp Max: </b> </p>
                                <p>@item.Main.Temp_max°C</p>
                            </div>

                        </div>
                    </div>

                    <div class="container bottom-bar mt-2 px-4 py-3">
                        <div class="d-flex justify-content-evenly flex-row align-items-end ">
                            <div class=" p-1 ">

                                <div class="d-flex flex-md-row flex-sm-row">
                                    <p><b>Pressure: </b></p>
                                    <p> @(item.Main.Pressure)Pa</p>

                                </div>
                                <div class="d-flex flex-md-row flex-sm-row">
                                    <p><b>Humidity: </b> </p>
                                    <p>@item.Main.Humidity%</p>

                                </div>
                                <div class="d-flex flex-md-row flex-sm-row">
                                    <p><b>Visibility: </b> </p>
                                    <p>@(item.Visibility)km</p>
                                </div>


                            </div>
                            <div class="  my-auto d-flex flex-column flex-wrap align-items-center ">
                                <div class="d-flex  align-items-center my-2">
                                    <img src="~/Content/Images/direction.png" style="height:1rem" class="dir-img" />

                                </div>
                                <p>@item.Wind.Speed  m/s</p>
                                <div class="d-flex flex-column flex-sm-row   degree-responsive">

                                    <p>  @item.Wind.Deg &ThinSpace; </p>
                                    <p>degree</p>
                                </div>



                            </div>
                            <div class=" d-flex flex-column  mt-auto">
                                <div class="d-flex flex-md-row flex-sm-row">
                                    <p><b>Sunrise: </b></p>
                                    <p>
                                        @item.Sys.SunriseTime
                                    </p>
                                </div>
                                <div class="d-flex flex-md-row flex-sm-row">
                                    <p><b>Sunset: </b></p>
                                    <p> @item.Sys.SunsetTime</p>
                                </div>


                            </div>
                        </div>
                    </div>






                </div>
            </div>



        }
    </div>
</div>




