@model weatherApp.Models.WeatherDetail

@{
    ViewBag.Title = "GetDetail";
}
<div class="d-flex flex-row justify-content-center mt-5">
    <img src="~/Content/Images/cld_icon.png" style="height: 1.5rem;">
    <p class="p-2"><b>Weather App</b></p>
</div>

<!--method returns color of card container according to weather description-->
@functions{
    public string GetColor(string weather)
    {
        string color = "blue"; // Default color (you can set it to any color you prefer)

        if (weather == "overcast clouds")
        {
            color = "orange";
        }
        else if (weather == "broken clouds")
        {
            color = "purple";
        }
        else if (weather == "clear sky")
        {
            color = "green";
        }
        else if (weather == "fog")
        {
            color = "grey";
        }
        else if (weather == "few clouds")
        {
            color = "blue";
        }
        else if (weather == "Light rain")
        {
            color = "yellow";
        }
        else if (weather == "mist")
        {
            color = "red";
        }
        else
        {
            color = "brown";
        }

        return color;
    }
    //method returns imd file path according to weather description

    public string GetIcon(string weather)
    {
        string imgSrc = "few_clouds.png"; // Default image source

        if (weather == "overcast clouds")
        {
            imgSrc = "clear_sky.png"; // Replace with the actual image source for 'orange'
        }
        else if (weather == "broken clouds")
        {
            imgSrc = "broken_cloud.png"; // Replace with the actual image source for 'orange'
        }
        else if (weather == "clear sky")
        {
            imgSrc = "clear_sky.png"; // Replace with the actual image source for 'orange'
        }
        else if (weather == "fog")
        {
            imgSrc = "mist.png"; // Replace with the actual image source for 'orange'
        }
        else if (weather == "few clouds")
        {
            imgSrc = "few_clouds.png"; // Replace with the actual image source for 'orange'
        }
        else if (weather == "Light rain")
        {
            imgSrc = "rain.png"; // Replace with the actual image source for 'orange'
        }
        else if (weather == "mist")
        {
            imgSrc = "mist.png"; // Replace with the actual image source for 'orange'
        }
        else
        {
            imgSrc = "few_clouds.png"; // Replace with the actual image source for 'orange'
        }

        return imgSrc;
    }

}



@*<div class="top-container row">

*@
<div class="container">

    <div class="parent-container row row-cols-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1  mx-auto ">





       
            <!--add the returning color as class name to the div-->

            <!--<div class=" card-container col-md-6 @(GetColor(Model.Weather[0].Description)) " onclick="window.location.href ='@Url.Action("GetDetail", "Weather", new { code = Model.Id })'">
                <div class="row header-text-wrap">
                    <div class="col-lg-6">
                        @Model.Name,@Model.Sys.Country
                        <div class="datetime-container">
                            @Model.LastUpdatedTime

                        </div>
                    </div>
                    <div class="col-lg-6 temp-text">
                        @Model.Main.Temp°c
                    </div>
                </div>
                <div class="row description-wrap">
                    <div class="col-lg-6 description-wrap-div1" style="padding-left:4rem">-->

            <!--add the returning img file path to src attribute-->
            <!--<img src="~/Content/Images/@(GetIcon(Model.Weather[0].Description))" />
                      <b>  @Model.Weather[0].Description</b>
                    </div>
                    <div class="col-lg-6" style="display: flex; flex-direction: column; align-Models: flex-start;">
                        <div style="flex:1">
                           <b> Temp Min:</b> @Model.Main.Temp_min°C
                        </div>
                        <div style="flex:1">
                           <b> Temp Max:</b> @Model.Main.Temp_max°C
                        </div>

                    </div>
                </div>
                <div class="bottom-bar">
                    <div class="wind-details-container">
                        <p><b>Pressure:</b> @(Model.Main.Pressure)hPa </p>
                        <p><b>Humidity:</b> @Model.Main.Humidity% </p>
                        <p><b>Visibility:</b> @(Model.Visibility)km </p>


                    </div>
                    <div class="vertical-line bottombar-line1"></div>
                    <div class="wind-direction-container">
                        <img src="~/Content/Images/direction.png" style="height:2rem" />
                        <p>@Model.Wind.Speed m/s @Model.Wind.Deg degree</p>

                    </div>
                    <div class="vertical-line bottombar-line2"></div>

                    <div class="sun-detail-container">
                        <p><b>Sun Rise:</b> @Model.Sys.SunriseTime </p>
                        <p><b>Sun Set:</b> @Model.Sys.SunsetTime </p>

                    </div>

                </div>

            </div>-->

            <div class="col col-md-12 col-lg-12  p-3 ">
                <div class=" card-container @(GetColor(Model.Weather[0].Description))    px-0 d-flex flex-md-column flex-sm-column" onclick="window.location.href ='@Url.Action("GetDetail", "Weather", new { code = Model.Id })'">
                    <div class="d-flex flex-md-row  align-Models-center  my-2 mx-3 mt-4  ">
                        <div class="col ">
                            <h2>
                                <b>
                                    @Model.Name,@Model.Sys.Country
                                </b>
                            </h2>
                            <div class=" px-5">
                                @Model.LastUpdatedTime

                            </div>
                        </div>
                        <div class="col temp-text mx-auto">
                            @Model.Main.Temp°c
                        </div>
                    </div>
                    <div class="row my-2 mx-0 ">
                        <div class="col">
                            <div class="d-flex  align-Model-center justify-content-center gap-3">
                                <img src="~/Content/Images/@(GetIcon(Model.Weather[0].Description))" />
                                <p> <b>  @Model.Weather[0].Description </b></p>

                            </div>

                            <!--add the returning img file path to src attribute-->

                        </div>
                        <div class="col ">
                            <div class="d-flex flex-md-row flex-sm-row">
                                <p> <b> Temp Min: </b> </p>
                                <p> @Model.Main.Temp_min°C</p>
                            </div>
                            <div class="d-flex flex-md-row flex-sm-row">
                                <p> <b> Temp Max: </b> </p>
                                <p>@Model.Main.Temp_max°C</p>
                            </div>

                        </div>
                    </div>

                    <div class="container bottom-bar mt-2 px-4 py-3">
                        <div class="row align-Models-end ">
                            <div class="col p-1 ">

                                <div class="d-flex flex-md-row flex-sm-row">
                                    <p><b>Pressure: </b></p>
                                    <p> @(Model.Main.Pressure)Pa</p>

                                </div>
                                <div class="d-flex flex-md-row flex-sm-row">
                                    <p><b>Humidity: </b> </p>
                                    <p>@Model.Main.Humidity%</p>

                                </div>
                                <div class="d-flex flex-md-row flex-sm-row">
                                    <p><b>Visibility: </b> </p>
                                    <p>@(Model.Visibility)km</p>
                                </div>


                            </div>
                            <div class="col justify-content-end d-flex flex-column flex-wrap align-Models-center ">
                                <div class="d-flex  align-Models-center my-2">
                                    <img src="~/Content/Images/direction.png" style="height:1rem" class="dir-img" />

                                </div>
                                <p>@Model.Wind.Speed  m/s</p>
                                <div class="d-flex flex-column flex-sm-row   degree-responsive">

                                    <p>  @Model.Wind.Deg &ThinSpace; </p>
                                    <p>degree</p>
                                </div>



                            </div>
                            <div class="col mt-auto">
                                <div class="d-flex flex-md-row flex-sm-row">
                                    <p><b>Sunrise: </b></p>
                                    <p>
                                        @Model.Sys.SunriseTime
                                    </p>
                                </div>
                                <div class="d-flex flex-md-row flex-sm-row">
                                    <p><b>Sunset: </b></p>
                                    <p> @Model.Sys.SunsetTime</p>
                                </div>


                            </div>
                        </div>
                    </div>






                </div>
            </div>



        
    </div>
</div>


